# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. go

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- SciPy

Data Science Tools:

| Data Science Tools  |   |
|---|---|
| SAS. It is one of those data science tools which are specifically designed for statistical operation  |   |
|Apache Spark||
|BigML||

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [2]:
code1 = compile("(3*4)+5", "<string>", "eval")
eval(code1)

17

This will convert 200 minutes to hours by diving by 60

In [3]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<p>Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

<h2>Author:</h2> kalyanachakravarthy M P